<div class="home-container" style="background-color: white">
  <div class="container">
    <div style="width: 100%; display: flex; justify-content: center;">
        <h1>Our <b>Contacts</b></h1>
    </div>
    <div class="steps">
      
      <div class="steps-header">
        <h1><b>Write</b> to us</h1>
        <div class="item">
            <i class="fas fa-at"></i>
            <h3>Support</h3>
            <a href="mailto:noledcorp@gmail.com">noledcorp@gmail.com</a>
        </div>
        <div class="item">
            <i class="fas fa-at"></i>
            <h3>Partnership</h3>
            <a href="mailto:info@noledcorp.com">info@noledcorp.com</a>
        </div>
        
      </div>
      <div class="steps-header">
        <h1><b>Call</b> us</h1>
        <div class="item">
            <i class="fas fa-mobile-alt"></i>
            <h3>Support</h3>
            <a href="tel:+79151999845">+7 (915) 199-98-45 </a>
        </div>
        <div class="item">
            <i class="fas fa-phone"></i>
            <h3>Moscow, Russia</h3>
            <a href="tel:+74991989945">+7 (499) 198-99-45 </a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="home-container">
  <div class="container">
    
    <div class="steps" style="flex-direction: column; justify-content: center;">
      <div class="steps-header">
        <h1><b>Find</b> location</h1>
      </div>
      <h3 style="margin-bottom: 20px;">
        Barrikadnaya street, 4/2
      </h3>
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A22ab5d637df7a58dd6a902bd5c93ae35efd5f08fabc6ac657c7c02535afc1300&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
  </div>
</div>