<nav [ngClass]="{'in':showMenu, 'light':showLight}" class="navbar navbar-expand">
  <div class="top-panel">
    <div (click)="toggle()" class="open-btn">
      <span class="open" ></span>
    </div>
    <div class="logo">
      <a class="navbar-brand" [routerLink]='["/"]'><h1>NoLedCorp</h1></a>
    </div>
  </div>

  <div  class="collapse navbar-collapse" [ngStyle]="{'height':scrWidth>0?menuHeight+'px':''}">
    <ul class="navbar-nav ml-auto">
      
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="nav-item"> 
        <a [routerLink]='["/"]' class="nav-link" >
             Главная
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' class="nav-item"> 
        <a [routerLink]='["/projects"]' class="nav-link" >
             Проекты
        </a>
      </li>
      
      <li [routerLinkActive]='["link-active"]' class="nav-item dropdown">
        <a href="#tech" class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Технологии <i class="fas fa-angle-down"></i>
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Angular</a>
          <a class="dropdown-item" href="#">React</a>
          <a class="dropdown-item" href="#">Bootstrap</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">ASP.Net</a>
          <a class="dropdown-item" href="#">PHP</a>
          <a class="dropdown-item" href="#">Node.js</a>
        </div>
      </li>
      <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a [routerLink]='["/team"]' class="nav-link" href="#">Команда</a>
      </li>
      <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a [routerLink]='["/contacts"]' class="nav-link" href="#">Контакты</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Найти" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form> -->
    <!-- <div class="user-container">
      <span *ngIf="!showUForm" class="user"><i (click)="showForm()" class="fas fa-user-secret"></i></span>
      <div class="user-form" [ngClass]="{'show-form':showUForm}" [ngStyle]="{'height':(showRForm && showUForm)?'343px':'', 'width':(showUForm && scrWidth>0)?scrWidth+'px':''}">
        <form>
          <h3>Вход</h3>
          <div class="item">
            <span>Имя пользователя</span>
            <input type="text" [(ngModel)]="user.Name" name="Name">
          </div>
          <div class="item" *ngIf="showRForm">
            <span>Email</span>
            <input type="text" [(ngModel)]="user.Email" name="Email">
          </div>
          <div class="item" >
            <span>Пароль</span>
            <input type="text" [(ngModel)]="user.Password" name="Password">
          </div>
          <div class="item" *ngIf="showRForm">
            <span>Подтвердить пароль</span>
            <input type="text">
          </div>

          <button type="button" class="btn btn-light" (click)="showRForm?addUser():''">{{showRForm?'Регистрация':'Войти'}}</button>
          <button type="button" class="btn btn-link" (click)="ShowRegForm()">{{showRForm?'Вход':'Регистрация'}}</button>
        </form>
      </div>

    </div> -->
    
    
  </div>
</nav>
<div class="blur" (click)="showForm()" *ngIf="showUForm"></div>