@media(max-width:991px){
    .top-panel{
        width: 100%;
    }
    .dropdown-menu{
        position: relative !important;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    span.user{
        margin-left: 0!important;
        padding-left: 0 !important; 
        
    }
    .user-container{
        min-height: 33px !important;
        display: block !important;
    }
    .show-form{
        right: unset !important;
        top:unset !important;
        bottom: -20px !important;
        left: 0 !important;
        
    }
    .user-form{
        left: 0 !important;
        bottom: -20px !important;
        top: unset !important;
        right: unset !important;
    }
    .navbar-nav li{
        padding: 10px 0 !important;
        width: 100%;
        border-bottom: 1px solid rgb(172, 172, 172);
        display: block !important;
    }
    .link-active a{
        text-decoration: underline;
    }
    :not(.link-active) a::before{
        display: none !important;
    }
    .collapse{
        z-index: 51;
        max-height: 100vh;
        overflow-y: scroll;
        position: fixed;
        left: -100vw;
        width: 100vw;
        top: 80px;
        padding: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .user-form{
        margin-top: 10px;
        position: unset !important;
    }
    .collapse ul{
        justify-content: space-around;
        margin: 0 !important;
    }
    .nav-item{
        padding-left: 0 !important;
        
    }
    
    .in .collapse{
        left:0;
    }
}
@media(min-width:992px){
    .nav-item{
        border-right: 1px solid gray;
    }
    .collapse{
        display: block;
    }
    .in{
        box-shadow: 5px 0 10px black;
    }
    .dropdown:hover .dropdown-menu{
        margin-top: 0px !important;
        opacity: 1 !important;
        max-height: 300px;
    }
    .dropdown-menu{
        transition: 0.2s;
        overflow: hidden;
        max-height: 0;
        display: block !important;
        margin-top: -10px !important;
        opacity: 0 !important;
    }
}
.dropdown:hover .dropdown-toggle i{
    
    transform: rotate(-180deg);
}
i{
    transition: 0.2s;
}
.dropdown-toggle::after{
    display: none;
}
/* .in{
    opacity: 1 !important;
} */
.in .navbar-collapse{
    opacity: 1;
}
.light h1{
    color:rgb(44, 44, 44) !important;
}
.light .open, .light .open::before, .light .open::after{
    background-color: rgb(44, 44, 44);
}
.in, .light{
    transition: 0.2s;
    background-color: white;
}
.in .open{
    transform: rotate(-45deg);
}
.in .open::before{
    width: 100%;
    transform: rotate(-90deg);
    top: 0 !important;
}
.in .open::after{
    opacity: 0;
}
h1{
    color: white;
}
.nav-item>a::before{
    height: 1px;
    width: 0;
    transition: 0.2s;
    position: absolute;
    bottom: 0; 
    display: block;
    content: '';
    background-color:rgba(0,0,0,.7); 
}
.nav-item:hover>a::before{
    
    width: 100%;
}
.nav-item{
    position: relative;
}
.link-active a{
    color:rgba(0,0,0,.7);
}
.link-active a::before{
    width: 100%;
}
.dropdown-item{
    padding-left: 8px !important;
}
.navbar-nav li a{
    position: relative;
    padding:0;
}
.navbar-nav li{
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.dropdown-menu{
    margin: 0;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
span.user{
    z-index: 12;
    position: relative;
    font-size: 25px;
    margin-left: 10px;
    padding: 0 10px;
    color: rgb(170, 170, 170);
}
.user>i:hover{
    transition: 0.3s;
    color: gray;
    cursor: pointer;
}
.cur-user{
    color: gray;
}
.user-container{
    z-index: 60;
    position: relative;
    display: inline;
}
.user-form{
    z-index: 10;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: white;
    border: 2px solid gray;
    padding: 10px;
    transition: 0.2s;
    top:0;
    right: 0;
    overflow: hidden;
    
}
.show-form{
    
    
    height: 220px;
    opacity: 1;
    width: 250px;
    right: 10px;
    top:50px;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item:not(:last-child){
    margin-bottom:5px; 
}

.navbar-collapse{
    opacity: 0;
    transition: 0.2s;
}

.top-panel{
    position: relative;
    z-index: 301;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 30px;
}

.open{
    display: block;
    height: 2px;
    background-color: white;
    width: 18px;
    margin-right: 50px;
    position: relative;
    transition: 0.2s;
    opacity: 1;
}
.open::before, .open::after{
    display: block;
    height: 2px;
    position: absolute;
    content: '';
    background-color: white;
    transition: 0.2s;
}

.open::before{
    top:-5px;
    width: 16px;
    
}
.open::after{
    bottom:-5px;
    width: 13px;
}
.open-btn:hover .open::after, .open-btn:hover .open::before{
    width: 18px;
}
.open-btn{
    height: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}
.nav-link{
    color:rgba(0,0,0,.5)
}
