<!--The content below is only a placeholder and can be replaced.-->
<div class="menu" >
    <main-menu ></main-menu>
</div>
<!-- <div class="container">
  <div *ngIf="done">{{factorial}}</div>
  <div class="form-group">
      <label>Введите число</label>
      <input class="input" type="text" #num>
  </div>
  <div class="form-group">
      <button class="btn btn-default" (click)="submit(num.value)">Отправить</button>
  </div>
  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Email</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of mas">
        <td>{{m.Name}}</td>
        <td>{{m.Email}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<router-outlet></router-outlet>
<div style="height: 1000px;"></div>
