<div class="top-photo">
  <div class="container">
    <p>Решить.<br>Создать.<br>Реализовать.</p>
    <span>Воплотим ваши мечты используя передовые технологии.</span>
    <button class="btn btn-default">Связаться</button>
  </div>
  <div class="blur"></div>    
</div>
<div class="home-container">
  <div class="container">
    <div class="steps">
      <div class="steps-header">
        <h1><b>Процесс</b> создания веб сайта</h1>
        <p>NoLedCorp занимается созданием сайтов и веб приложений со знанием бизнеса и современных веб технологий.</p>
        <p>Как технологический партнер мы предлагаем и воплощаем лучшие решения для вашего бизнеса.</p>
        <p>Узнайте что мы можем сделать и как мы можем вместе достичь ваших целей</p>
      </div>
      <div class="row steps-body">
        <div class="col-lg-4">
          <h3>Решить.</h3>
          <h5>Стратегия развития.</h5>
          <p>На первом этапе предстоит построить стратегию развития проекта. Начиная с ваших требований, составления макетов страниц и закинчивая сроками реализации.</p>
        </div>
        <div class="col-lg-4">
          <h3>Создать.</h3>
          <h5>Разработка продукта.</h5>
          <p>Мы разрабатываем и внедряем индивидуальные решения для вашей бизнес стратегии.</p>
        </div>
        <div class="col-lg-4">
          <h3>Реализовать.</h3>
          <h5>Окончание проекта.</h5>
          <p>Благодаря богатому опыту работы и современным средствам разработки, мы заканчиваем реализацию в срок и предоставляем вам готовый продукт.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-container" style="color:white; background-image: url('../../assets/images/capabilities.jpg')">
  <div class="container">
    <div class="steps">
      <div class="steps-header">
        <h1 style="font-weight: 600">Откройте для себя наши возможности</h1>
        <p>NoLedCorp доведет ваш продукт от начала до конца.</p>
        <p>Используя передовые технологии веб программирования, мы сделаем конечный продукт поистине уникальным и интересным.</p>
      </div>
      <div class="row steps-body">
        <div class="col-lg-4">
          <h3>Стратегия.</h3>
          <p>На протяжении всего проекта мы качественно тестируем ваш продукт и предоставляем вам подробные отчеты об этапах реализации.</p>
        </div>
        <div class="col-lg-4">
          <h3>Технологии.</h3>
          <p>Мы предоставляем возможность использования большого числа передовых технологий разработки, чтобы сделать ваш сайт наиболее быстрым, красивым и удобным.</p>
        </div>
        <div class="col-lg-4" style="border-bottom: none;">
          <h3>Платформы.</h3>
          <p>С помощью наших партнеров мы помогаем вам продвигать ваш продукт.</p>
        </div>
        
      </div>
      <a name="tech"></a>
    </div>
  </div>
  
</div>
<div class="home-container" style="background-color: white;" >
  <div class="container">
    <div class="steps" style="max-height: unset; display: inline;">
      <div class="steps-header">
        
        <h1 style="font-weight: 600">Технологии, которые мы используем</h1>
        <p>В наши дни очень важно быть на волне событий, новые веб системы и технологии появляются все чаще и чаще, предоставляя нам возможность улучшать ваши продукту.</p>
        <p>NoLedCorp дает возможность выбора используемых технологий конкретно для вашего сайта. Некоторые из них представленны в этом разделе.</p>
      </div>
      <div class="techs-body">
        <div class="tech" *ngFor="let t of techs">
          <a [routerLink]='["technology/t.id"]'><img src="{{t.img}}" alt="{{t.note}}"></a>
          <span>{{t.note}}</span>
        </div>
      </div>
    </div>
  </div>
  
</div>



