.top-photo{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/images/fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    color: white;
}
.top-photo .blur{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.322);
}
.top-panel{
    position: relative;
    z-index: 301;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.top-photo .container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    
    height: 100%;
}
.top-photo .container>p{
    transition: 0.2s;
    line-height: 55px;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.top-photo .container>span{
    transition: 0.2s;
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
}

.top-photo button{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 200px;
    font-size: 20px;
    transition: 0.2s;
}
.top-photo button:hover{
    background-color: rgba(255, 255, 255, 0.171);
}
.top-photo button:focus{
    box-shadow: none;
}

@media(max-width:768px){
    .top-photo .container>p{
        line-height: 30px;
        font-size: 25px;
    }
    .top-photo .container>span{
      
        font-size: 16px;
    }
    .top-photo button{
        margin-top: 20px;
        
        width: 150px;
        font-size: 15px;
    }
}

@media(max-width:992px){
    .steps-body>div{
        border-right: none !important;
        border-bottom:1px solid lightgrey; 
    }
}
.steps{
    min-height: 100vh;
}
.steps-header{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps-header *{
    text-align: center;
}
.steps-header h1{
    font-weight: 300;
}

.row{
    margin: 0;
    padding: 0;
}
.steps-body>div{
    margin-top: 30px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.steps-body>div:not(:last-child){
    border-right: 1px solid lightgray;
}