.top-photo{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/images/fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    color: white;
}
.blur{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.322);
}
.top-panel{
    position: relative;
    z-index: 301;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.top-photo .container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    
    height: 100%;
}
.top-photo .container>p{
    transition: 0.2s;
    line-height: 55px;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.top-photo .container>span{
    transition: 0.2s;
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
}

.top-photo a{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 200px;
    font-size: 20px;
    transition: 0.2s;
}
.top-photo a:hover{
    background-color: rgba(255, 255, 255, 0.171);
}
.top-photo a:focus{
    box-shadow: none;
}

@media(max-width:768px){
    .top-photo .container>p{
        line-height: 30px;
        font-size: 25px;
    }
    .top-photo .container>span{
      
        font-size: 16px;
    }
    .top-photo button{
        margin-top: 20px;
        
        width: 150px;
        font-size: 15px;
    }
}

@media(max-width:992px){
    .home-container .container{
        max-width: unset !important;
    }
    .top-photo .container{
        padding-top: 40%;
    }
    .steps-body>div{
        border-right: none !important;
        border-bottom:1px solid lightgrey; 
    }
    .steps{
        display: inline !important;
        max-height: unset !important;
    }
}
.home-container .container{
    max-width: 80%;
}
.home-container{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(211, 211, 211, 0.568);
}
.steps{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    z-index: 1;
    position: relative;
    height: 100vh;
    max-height: 720px;
}
.steps-header{
    z-index: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps-header *{
    text-align: center;
}
.steps-header h1{
    font-weight: 300;
}

.row{
    margin: 0;
    padding: 0;
}
.steps-body>div{
    margin-top: 30px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.steps-body>div:not(:last-child){
    border-right: 1px solid lightgray;
}
.tech{
    width: 23%;
    min-height: 200px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.tech img{
    width: 100%;
}
.techs-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}