<div class="top-photo">
  <div class="container">
    <p>Think.<br>Create.<br>Accelerate.</p>
    <span>Outpace your competitors with our digital capabilities.</span>
    <a routerLink="/contacts" class="btn btn-default">Connect with us</a>
  </div>
  <div class="blur"></div>    
</div>
<div class="home-container">
  <div class="container">
    <div class="steps">
      <div class="steps-header">
        <h1><b>Services</b> We Offer</h1>
        <p>NoLedCorp navigates the business landscape with industry knowledge and digital capabilities – combining results-driven strategy and software engineering at scale.</p>
        <p>As a technology-agnostic partner, we advise and implement the best market solutions for your business needs.</p>
        <p>Discover what we can do and how we can achieve your goals – together.</p>
      </div>
      <div class="row steps-body">
        <div class="col-lg-4">
          <h3>Think.</h3>
          <h5>Digital Strategy</h5>
          <p>From business strategy and service design to UX, visual design, and development, our holistic process shapes your transformational journey.</p>
        </div>
        <div class="col-lg-4">
          <h3>Create.</h3>
          <h5>Consulting</h5>
          <p>We identify and implement bespoke solutions for your business strategy.</p>
        </div>
        <div class="col-lg-4">
          <h3>Accelerate.</h3>
          <h5>Engineering at Scale</h5>
          <p>With a global talent pool and a modern toolkit, we consistently deliver large-scale projects on time, leveraging onshore, nearshore and offshore models.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-container" style="color:white; background-image: url('../../assets/images/capabilities.jpg')">
  <div class="container">
    <div class="steps">
      <div class="steps-header">
        <h1 style="font-weight: 600">Discover Our Digital Capabilities</h1>
        <p>NoLedCorp is an end-to-end service provider/ With a unique combination of industry and technological expertise, we blend innovation with superior strategy.</p>
        <p>Through blockchain? IoT, rebust platforms, strategic thinking and more, our customized approach accelerates you ahead of the compitition.</p>
      </div>
      <div class="row steps-body">
        <div class="col-lg-4">
          <h3>Digital Strategy</h3>
          <p>Through every stage of digital product, service, and customer experience design, we translate unique business challenges into strategic opportunities.</p>
        </div>
        <div class="col-lg-4">
          <h3>Technologies</h3>
          <p>We help transform your business by applying the most relevant technologies of today.</p>
        </div>
        <div class="col-lg-4" style="border-bottom: none;">
          <h3>Platforms</h3>
          <p>With access to top digital platforms through trusted partnerships, we help you achieve higher customer engagement and operational excellence.</p>
        </div>
        
      </div>
      <a name="tech"></a>
    </div>
  </div>
  
</div>
<div class="home-container" style="background-color: white;" >
  <div class="container">
    <div class="steps" style="max-height: unset; display: inline;">
      <div class="steps-header">
        
        <h1 style="font-weight: 600">Technologies we use</h1>
        <p>Nowadays it is very important to be on the wave of events, new web systems and technologies appear more and more often, giving us the opportunity to improve your product.</p>
        <p>NoLedCorp allows you to select the technologies used specifically for your site. Some of them are presented in this section.</p>
      </div>
      <div class="techs-body">
        <div class="tech" *ngFor="let t of techs">
          <a routerLink="/technologies"><img src="{{t.Logo}}" alt="{{t.Name}}"></a>
          <span>{{t.Name}}</span>
        </div>
      </div>
    </div>
  </div>
  
</div>



